// ServerInterface represents all server handlers.
type ServerInterface interface {
{{- if gt (len .GetAllSanitizedMiddlewares ) 0}}
{{- range .GetAllSanitizedMiddlewares }}
{{.}}() echo.MiddlewareFunc
{{- end}}

{{end}}
{{range .}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}})
{{.OperationId}}(ctx echo.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}) error
{{end}}
}
